{% extends 'base.html' %}

{% block title %}
  Solo - SignUp
{% endblock %}

{% block content %}

<div class="signup_form">

  <form method="post" id="contact-right">
    <h2 align='center'>Sign up</h2>
    <br>
    {% csrf_token %}

      <table>
        <tr>
          <td><label for="id_username">Username: </label></td>
          <td><input type="text" name="username" size="35" maxlength="150" autofocus required id="id_username"></td>
          <td><small style="color: grey">50 characters or fewer. Letters, digits and @/./+/-/_ only.</small></td>
        </tr>
        <tr>
          <td><label for="id_first_name">First name:</label></td>
          <td><input type="text" name="first_name" size="35" maxlength="30" required id="id_first_name"></td>
          <td><small style="color: grey">Required.</small></td>
        </tr>
        <tr>
          <td><label for="id_last_name">Last name:</label></td>
          <td><input type="text" name="last_name" size="35" maxlength="30" required id="id_last_name"></td>
          <td><small style="color: grey">Required.</small></td>
        </tr>
        <tr>
          <td><label for="id_email">Email:</label></td>
          <td><input type="email" name="email" size="35" maxlength="254" required id="id_email"></td>
          <td><small style="color: grey">Required. Inform a valid email address.</small></td>
        </tr>
        <tr>
          <td><label for="id_password1">Password:</label></td>
          <td><input type="password" size="35" name="password1" required id="id_password1"></td>
          <td><small style="color: grey"><ul>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can&#39;t be entirely numeric.</li></ul></small></td>
        </tr>
        <tr>
          <td><label for="id_password2">Password confirmation: </label></td>
          <td><input type="password" size="35" name="password2" required id="id_password2"></td>
          <td><small style="color: grey">Enter the same password as before, for verification.</small></td>
        </tr>
      </table><br><br>

    <button class="btn-signup" type="submit">Sign up</button>
  </form>
</div>

{% endblock %}
