{% extends 'base_user.html' %}

{% block main_body %}

    <h2>Submit a Book Request </h2><br>
    <form class="" action="" method="POST">
      <input type="text" name="user" value='{{ user.username }}' hidden>
      {% csrf_token %}
      <table>
        <tr>
          <td>Book Name :</td><td><input type="text" name='book_name' size="80"></td>
        </tr>
        <tr style="background-color:#fff;">
          <td>Author :</td><td><input type="text" name="book_author" size="80"></td>
        </tr>
        <tr>
          <td>Comment :</td><td><textarea name="comment" rows="8" cols="80"></textarea></td>
        </tr>
      </table><br>
      <input style="font-size:20px;margin:0 45% 0 40%;" type="submit" value="SUBMIT">
    </form>

{% endblock %}

{% block content %}

  <li><i class="fa fa-list"></i><a href="../Dashboard">Dashboard</a></li>
  <li><i class="fa fa-key"></i><a href="../ChangePassword">Change Password</a></li>
  <li><i class="fa fa-list"></i><a href="../view_issued_books">View Issued Books</a></li>
  <li><i class="fa fa-list"></i><a href="../view_all_archive_books">View All Archive Books</a></li>
  <li style="background-color: #f4c613;"><i class="fa fa-list"></i><a href="#">Submit Book Request</a></li>
  <li><i class="fa fa-power-off"></i><a href="{% url 'logout' %}">Sign Out</a></li>

{% endblock %}
